---
import type { CollectionEntry } from 'astro:content';
import { BaseHead, Backlinks, Footer, FormattedDate } from '@components/index';
import { useTranslations } from '../i18n/utils';
import '@fontsource-variable/noto-serif-kr';
import RelatedLinks from '@components/RelatedLinks.astro';

const { title, pubDate, updatedDate, lang, related } = Astro.props.frontmatter;
const t = useTranslations(lang);
type Props = CollectionEntry<'note'>['data'];

---

<html lang={lang ?? "en"}>
	<head>
		<BaseHead title={title} />
		<style lang="scss">
			.title {
				padding-bottom: 3rem;
				line-height: 1;

				& .date,
				& .author {
					font-size: var(--sm);
				}
			}

			.date {
				display: flex;
				font-size: var(--sm);
				font-style: italic;
				justify-content: flex-end;
				margin-top: 3rem;
			}

			.title h1 {
				font-size: 2rem;
				line-height: 1.25;
				padding-right: 3rem;
				margin-bottom: 1rem;
			}

			.navi {
				display: flex;
				align-items: center;
				justify-content: space-between;
				
				a {
					color: inherit;
					font-weight: 400;
					font-size: var(--sm);
				}

				.by {
					font-size: var(--xs);
				}
			}

			.separator {
				margin: 0 0.5rem;
			}

			.separator:nth-last-child(2) {
				color: #eee;
			}
		</style>
	</head>

	<body>
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="navi">
							<div class="author">
								<span class="by">by</span>
								<a href="/">{t('home.name')}</a>
							</div>
							<div class="navi_item">
								<a href="/note">{t('home.back')}</a>
							</div>
						</div>
					</div>
					<div class="contents">
						<slot />
					</div>
					<div class="date">
							{
								!updatedDate && (
									<FormattedDate date={pubDate} />
								)
							}
							{
								updatedDate && (
									<span class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</span>
								)
							}
						</div>
				</div>
			</article>
			<RelatedLinks related={related}/>
			<Backlinks />
		</main>
		<Footer lang={lang} />
	</body>
</html>
